body{
    background-color: black;
}

.titlep{
    font-weight: 300;
    font-style: normal;
    color: rgb(138, 189, 145);
    text-decoration: none;
    font-family: 'Garet 300', sans-serif;
    font-size: 33px;
    line-height: 33px;
    margin-top: 5%;
    margin-left: 5%;
}

.onediv{
    display: flex;
    left: padding;
}

.threedivleft{
    width:30%;
    display: block;
    padding: 5%;
    margin-top: 1.4%;
}

.threedivmid{
    width:30%;
    display: block;
    padding: 5%;
}

.threedivright{
    width:30%;
    display: block;
    padding: 5%;
    margin-top: 2.45%;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

h4{
    font-weight: 400;
    font-style: normal;
    color: rgb(138, 189, 145);
    text-decoration: none;
    font-family: 'Garet 300', sans-serif;
    font-size: 29.3333px;
    line-height: 50px;
    letter-spacing: 0em;
    text-transform: uppercase;
    list-style-type: none;
    text-align: center;

}

.contentp{
    font-weight: 300;
    font-style: normal;
    color: white;
    text-decoration: none;
    font-family: 'Garet 300', sans-serif;
    font-size: 21.3337px;
    line-height: 29px;
    letter-spacing: -0.048em;
    text-transform: none;
    list-style-type: none;
    margin-left: 10%;
}

.headerdiv{
    background-color: #fff;
    border-bottom: 1px solid rgba(0,0,0,.07);
    font-family: -apple-system,BlinkMacSystemFont,sans-serif;
    font-size: 1.5rem;
    color: black;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: baseline;
    height: 5rem;
    vertical-align: middle;
}

.headertitlediv{
    margin-left: 2%;
    display: block;
}
.headertitle{
    color: rgb(138, 189, 145);
    font-weight: 400;
    font-size: 2rem;
}

.innerheaderdiv{
    align-items: baseline;
    display: flex;
    width: 57%;
    color: white;
    text-decoration: none;
    text-align: right;
    float: right;
    margin-left: 33%;
}

.headeritem{
    margin-left: 2%;
}

body{
    margin:0%;
}

a:visited { text-decoration: none; color: #626364;}

a:hover { text-decoration: none; color: rgb(138, 189, 145); }

a:active { text-decoration: none; color:black; }

a:focus { text-decoration: none; color:black; }
